
/*---------------------fonts---------------------- */


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+US+Trad:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


/*---------------------general----------------------*/

body {
    box-sizing: border-box;
    background-color: #fff;
    font-family: "Lato", sans-serif;
}

.margin-l-15 {
    margin-left: 15px;
}

.color-logo {
    color: #ca5a19;
}

.header{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
}
.hide {
    display: none;
}

.hide-small {
    display: none;
}

.hide-big {
    display: block;
}



/*---------------------Top bar----------------------*/


.top-bar {
    width: 100%;
    height: 120px;
    background-color: #000;
    color: #ca5a19;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.big-screen {
    display: none;
}

.top-bar h1 {
    font-size: 20px;
    margin-right: 3%;
}

.crs-carage {
    display: block;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 1px;
}


.top-bar .logo, .top-bar .anim-1,.top-bar .anim-2{
    width: 120px;
}

.top-bar .flags {
    width:150px;
    height: 90px;
    margin-top: 20px;
}



/* call buton */

.call {
    width: 90%;
    text-align: center;
    margin: 30px;
    margin-left: 5%;
}
.call-btn {
    line-height: 40px;
    height: 30px;
    

}

.call-btn a {
    padding: 10px;
    background-color: #ca5a19;
    color: #fff;
    border-radius: 6px;
    border: 3px solid #c0c0c0;
    box-shadow: 4px 4px 2px 1px #ada6a6;
}


/*---------------------Nav Bar----------------------*/
.navbar {
    width: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item a {
    font-size: 20px;
    color: #ca5a19 !important;
    font-weight: 500;
}

.border-nav-b, .border-nav-y {
    border: 3px solid  #ca5a19;
    border-radius: 6px;
    margin-bottom: 8px;
}

.border-nav-y {
    margin-top: 8px;
}


/*---------------------Banner----------------------*/
.banner-area { 
    
    height: 400px;
    position: relative;
    background: url("images/Audicrs.png");
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    /* background-size: 110% 110%; */
    width: 100%;
    height: 310px;
    border-bottom: 2px solid #ca5a19;
    animation: shrink 5s infinite alternate;
    }

    /* @keyframes shrink {
        0% {
          background-size: 110% 110%;
        }
        100% {
          background-size: 100% 100%;
        }
      } */

    .banner-area h2 {
        top: 100px;
        color: #fff;
        padding: 0 20px; 
    }
    
    .banner-area h2 span {
        font-family: 'Lobster', cursive;
        display: block;
    }
    
    .banner-area p {
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 700;
    }

    /*---------------------Welcome----------------------*/

    .welcome {
        width: 90%;
        margin: 0 auto;
    }

    .welcome h2 {
        font-family: "Merriweather", serif;
        font-weight: 500;
        font-style: normal;
        color: #ca5a19;
    }

    .welcome p {
        text-align: justify;
        margin-bottom: 10px;
    }
  
/*---------------------Services----------------------*/

.services h2 {
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;
    color: #ca5a19;
}

.service-item {
    width: 15%;
    height:400px
}
.services .service-item img{
    width: 100%;
    height: 100%;
    
}

/*---------------------Location----------------------*/

.location {
    
    width: 90%;
    margin:0 auto;
    text-align: center; 
    margin-bottom: 20px;  
    padding: 30px 0;
}

.location h2, .location h3{
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;
    color: #ca5a19;
}

.location p {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.location h3 {
    color: #000;
}

iframe {
    width: 100%;
    height: 500px;
    border: 1.5px solid #000 !important;
    border-radius: 8px;
}

.location p {
        padding: 20px 0;
}


/* footer */

footer {
    background-color: #000;
    padding-top: 20px;
}

.brand img {
    width: 120px;
}
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}








/*---------------------Media Queries----------------------*/

@media(min-width: 600px) {

     /*---------------------general----------------------*/

    .big-screen {
        display: block;
    }

    .hide-small {
        display: block;
    }

    .hide-big {
        display: none;
    }

    /*---------------------Top bar----------------------*/

    .top-bar {
        height: 200px;
    }

    .top-bar h1 {
        font-size: 30px;
       
    }
    
    .crs-carage {
    margin-top: 70px; 
    font-size: 45px;
    }

    .top-bar .logo, .top-bar .anim-1,.top-bar .anim-2{
        width: 200px;
        height: 200px;
    }

    .top-bar .flags {
        width:200px;
        height: 130px;
        margin-top: 40px;
    }

    /*------------ call buton --------------- */
    .call {
        width: 90%;
        text-align: center;
        margin: 30px;
        margin-left: 5%;
        height: 55px;
    }
    .call-btn {
        line-height: 40px;
        
    
    }
    
    .call-btn a {
        padding: 10px;
        background-color: #ca5a19;
        color: #fff;
        border-radius: 6px;
        border: 3px solid #c0c0c0;
        box-shadow: 4px 4px 2px 1px #ada6a6;
        height: 55px;
        font-size: 24px;
    }
}

@media(min-width: 768px) {
   

/*---------------------Nav bar----------------------*/
    .navbar-nav {
        width: 100%;
        height: 80px;
        background-color: #ca5a19;
        line-height: 60px;
    }
    .nav-item {
        width: 25%;        
    }

    .nav-item a {
        font-size: 20px;
        color: #000 !important;
        font-weight: 500;
    }

    

    .border-nav-y {
        margin-top: 0;
        border: none;
     }
 
     

    .border-nav-b {
        border: none;
        margin-top: 0;
    }

    .border-nav-y {
        margin-top: 0;
        border: none;
     }


     .call-btn a {
        
        background-color: #000;
        border: 2px solid #ca5a19;
    }
    /*---------------------Banner----------------------*/
 
     .banner-area { 
         height: 800px;
         margin: 0 auto;
         margin-top: 30px;
    }

    
/*---------------------Welcome----------------------*/

         .welcome {
            margin-top: 70px !important;
            width: 70%;
            
    }
    
        .welcome p {
            text-align: justify;
            margin-bottom: 10px;
            font-size: 24px;
    }
/*---------------------Footer----------------------*/
   

    .brand img {
        width: 150px;
        margin-bottom: 30px;
    }

    .about p {
        font-size: 20px;
    }

    .logo-footer {
        font-size: 25px;
    }

    .contact-list {
        font-size: 20px;
        margin-top: 40px;
    }
    .nav-list li {
        font-size: 20px;
        margin-top: 30px;
    }

    .copyright-year {
        font-size: 24px; 
    }
}

@media(min-width: 1200px) {

    footer {
        padding-top: 60px;
        margin-top: 60px;
    }

    .brand img {
        width: 180px;
        margin-bottom: 50px;
    }

    .about p {
        font-size: 26px;
    }

    .logo-footer {
        font-size: 30px;
    }

    .contact-list {
        font-size: 26px;
        margin-top: 40px;
    }
    .nav-list li {
        font-size: 26px;
        margin-top: 30px;
    }

    .copyright-year {
        font-size: 30px;
    }

}





/* body {
	margin: 0;
} */

.image-grid {
	--gap: 16px;
	--num-cols: 4;
	--row-height: 300px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
}

.image-grid>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-grid-col-2 {
	grid-column: span 2;
}

.image-grid-row-2 {
	grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
	.image-grid {
		--num-cols: 2;
		--row-height: 250px;
	}
}

@media screen and (max-width: 600px) {
	.image-grid {
		--num-cols: 1;
		--row-height: 250px;
	}
}
    

   

    

   

    
    

    
    
    

    
    

    

   




